<div class="container">
    <form>
        <div class="mb-3">
            <h4>Login</h4>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">EMAIL </label>
          <input type="email" class="form-control" id="inputEmail"  placeholder="example@mail.com">
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">FIRST NAME</label>
            <input type="text" class="form-control" id="inputName" placeholder="John">
          </div>
        <div class="mb-3">
          <label for="inputPassword1" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="inputPassword1" placeholder="********">
        </div>
        <div class="mb-3">
            <label for="inputPhone" class="form-label">PHONE</label>
            <input type="number" class="form-control" id="inputPhone" placeholder="956532564">
          </div>
        <button type="submit" class="btn text-white">SIGN UP</button>
      </form>
      <app-login></app-login>
</div>
