<div class="container">
    <form>
        <div class="mb-3">
            <h4>Login</h4>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">EMAIL </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@mail.com">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
        </div>
        <button type="submit" class="btn text-white">LOGIN</button>
      </form>
      <app-sign-up></app-sign-up>
</div>