<div class="menu__side">
    <div class="name__page text-center my-5">
        <h4><b>{{title}}}</b></h4>
    </div>
    <div class="menu__options">
        <a class="nav-link active menu nav-active text-dark" routerLink="/category">
            <i class="bi bi-grid"></i>Categories
        </a>
        <a class="nav-link active menu nav-active text-dark" routerLink="/transactions">
            <i class="bi bi-credit-card"></i>Transactions
        </a>
        <a class="nav-link active menu nav-active text-dark" routerLink="/budgets">
            <i class="bi bi-coin"></i>Budgets
        </a>
    </div>
    
    <div class="footer fixed-bottom mx-auto"><hr>
        <div class="user">
            <span>Test5</span>
            <p class="text-secondary">test5@gmail.com</p>
        </div>
         <div class="menu__footer">
            <a class="nav-link active nav-active text-secondary" 
            routerLink="/login">Login</a>
          
            <a class="nav-link active nav-active text-secondary" 
            routerLink="/login">Sign up</a>
         </div> 
       <div class="btn">
        <button class="btn text-secondary">Log out</button>
       </div>
    </div>             
</div>

